<div class="historyLine">
    <div class="historyLine-block historyLine-name">{{ playerName }}</div>
    <div class="historyLine-block historyLine-point">{{ firstSet }}</div>
    <div class="historyLine-block historyLine-point">{{ secondSet }}</div>
    <div class="historyLine-block historyLine-point">{{ thirdSet }}</div>
    <div class="historyLine-block historyLine-point">{{ fourthSet }}6</div>
    <div class="historyLine-block historyLine-point">{{ fifthSet }}7</div>
    <div class="historyLine-block historyLine-point"></div>
</div>
