<div class="content-part">
    <div class="content-part-title">
        Historic
    </div>
    <div class="content-part-cnt">
        <no-content-part-found ng-show="!contentOnHistoryPart"></no-content-part-found>
        <div class="history-tournament" ng-show="contentOnHistoryPart">
            <div class="history-tournament-name">
                Roland Garros
            </div>
            <div class="history-tournament-match">
                <historyLine-directive player-name="Rafael NADAL" first-set="6" second-set="4" third-set="4"></historyLine-directive>
                <div class="history-tournament-match-separator"></div>
                <historyLine-directive player-name="Roger FEDERER" first-set="4" second-set="6" third-set="6"></historyLine-directive>
            </div>
        </div>
    </div>
</div>
