<div class="content-part" id="player-predict">
    <div class="content-part-title">
        Prediction
    </div>
    <div class="content-part-cnt">
        <div class="content-part-cnt-head" id="player-stat-content-head">
            <md-button ng-click="clickHardCourtsButton()" class="hard-court-button md-primary content-part-cnt-head-button">
                Hard courts
            </md-button>
            <md-button ng-click="clickClayCourtsButton()" class="clay-court-button md-primary content-part-cnt-head-button">
                Clay courts
            </md-button>
            <md-button ng-click="clickGrassCourtsButton()" class="grass-court-button md-primary content-part-cnt-head-button">
                Grass courts
            </md-button>
        </div>
        <div class="pred-input" ng-show="!haveTwoPlayer">
            <md-autocomplete class="input-search-pred" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.Text"
                md-min-length="0" md-selected-item-change="goTo(item)" placeholder="Nadal, Federer, Tsonga" md-autoselect="true">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">
                    {{ item.Text }}
                </span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{ searchText }}" were found.
                </md-not-found>
            </md-autocomplete>
        </div>
        <no-content-part-found ng-show="!contentOnPredictionPart"></no-content-part-found>
        <div ng-show="showContentPart">
            <div class="vs-stat-detail">
                <div class="vs-stat-part-text">
                    {{ player1Name }}
                </div>
                <div class="vs-stat-part-text-title">
                </div>
                <div class="vs-stat-part-text">
                    {{ player2Name }}
                </div>
            </div>
            <div class="vs-stat-detail">
                <div id="player1-vs-pred" class="vs-stat-part-content">
                </div>
                <div class="vs-stat-part-title">
                    VS
                </div>
                <div id="player2-vs-pred" class="vs-stat-part-content">
                </div>
            </div>
        </div>
    </div>
</div>