<div class="content-part" id="player-pres">
    <div class="separator-top-pres"></div>
    <div class="content-part-title" id="player-pres-title">
        Presentation
    </div>
    <div class="content-part-cnt">
        <div id="player-pres-img-part">
            <img src="./img/nadal.jpg" class="player-pres-img">
        </div>
        <div id="player-pres-name" class="text-part">
            Rafael Nadal
        </div>
        <div id="player-pres-details">
            <div class="player-pres-detail-part">
                <div class="player-pres-details-title">
                    Nationality
                </div>
                <div class="player-pres-details-content text-part">
                    ES
                </div>
            </div>
            <div class="player-pres-detail-part">
                <div class="player-pres-details-title">
                    Age
                </div>
                <div class="player-pres-details-content text-part">
                    29
                </div>
            </div>
            <div class="player-pres-detail-part">
                <div class="player-pres-details-title">
                    Birthday
                </div>
                <div class="player-pres-details-content text-part">
                    3 June 1986
                </div>
            </div>
            <div class="player-pres-detail-part">
                <div class="player-pres-details-title">
                    Weight
                </div>
                <div class="player-pres-details-content text-part">
                    1.85m
                </div>
            </div>
            <div class="player-pres-detail-part">
                <div class="player-pres-details-title">
                    Favory Surface
                </div>
                <div class="player-pres-details-content text-part">
                    Clay
                </div>
            </div>
        </div>
    </div>
</div>
