<div class="content-part" id="player-predict">
    <div class="content-part-title">
        Prediction
    </div>
    <div class="content-part-cnt">
        <div class="content-part-cnt-head" id="player-stat-content-head">
            <md-button ng-click="clickHardCourtsButton()" class="hard-court-button md-primary content-part-cnt-head-button">
                Hard courts
            </md-button>
            <md-button ng-click="clickClayCourtsButton()" class="clay-court-button md-primary content-part-cnt-head-button">
                Clay courts
            </md-button>
            <md-button ng-click="clickGrassCourtsButton()" class="grass-court-button md-primary content-part-cnt-head-button">
                Grass courts
            </md-button>
        </div>
        <div class="pred-input" ng-show="!haveTwoPlayer">
            
        </div>
        <no-content-part-found ng-show="!contentOnPredictionPart"></no-content-part-found>
        <div class="vs-stat-detail">
            <div id="player1-vs-pred" class="vs-stat-part-content">
            </div>
            <div class="vs-stat-part-title">
                    VS
            </div>
            <div id="player2-vs-pred" class="vs-stat-part-content">
            </div>
            <div class="vs-stat-detail">
                <div class="vs-stat-part-text">
                    <!-- {{ stats.name.player1 }} -->
                </div>
                <div class="vs-stat-part-text-title">
                </div>
                <div class="vs-stat-part-text">
                    <!-- {{ stats.name.player2 }} -->
                </div>
            </div>
        </div>
        <!-- <div class="player-predict-cnt" ng-repeat="predicts in predictions" ng-show="contentOnPredictionPart">
            <div class="player-predict-cnt-date">{{ predicts.date }}</div>
            <div ng-repeat="predict in predicts.predictions">
                <div class="player-predict-cnt-top">
                    <div class="player-predict-cnt-top-name player-predict-cnt-top-name-left">{{ predict.player1 }}</div>
                    <div class="player-predict-cnt-top-radial player-predict-cnt-top-radial-azure" id="player-predict-radial-azure-{{ predict.id }}"></div>
                    <div class="player-predict-cnt-top-radial player-predict-cnt-top-radial-twitter" id="player-predict-radial-twitter-{{ predict.id }}"></div>
                    <div class="player-predict-cnt-top-name player-predict-cnt-top-name-right">{{ predict.player2 }}</div>
                </div>
                <div class="player-predict-cnt-bottom">
                    <linear-progress-directive linear-title="Win the first set" id-linear="player-predict-cnt-linear-{{ predict.id }}">
                    </linear-progressdirective>
                </div>
            </div>
        </div>-->
    </div>
</div>
