<div class="content-part">
    <div class="separator-top-pres"></div>
    <div class="content-part-title-center">
        VS
    </div>
    <div class="content-part-cnt">
        <div class="vs-pres-top">
            <div class="vs-pres-top-img">
                <div class="vs-pres-top-img-left">
                    <img ng-src="{{ players.player1.img }}" class="player-pres-img">
                </div>
                <div class="vs-pres-top-img-sep"></div>
                <div class="vs-pres-top-img-right">
                    <img ng-src="{{ players.player2.img }}" class="player-pres-img">
                </div>
            </div>
            <div class="vp-pres-top-separator"></div>
            <div class="vs-pres-top-name">
                <div class="vs-pres-top-name-str">
                    {{ players.player1.name }}
                </div>
                <div class="vs-pres-top-name-middle">
                    vs
                </div>
                <div class="vs-pres-top-name-str">
                    {{ players.player2.name }}
                </div>
            </div>
            <div class="vp-pres-top-separator"></div>
        </div>
        <div class="vs-pres-content">
            <div class="vp-pres-detail">
                <div class="vp-pres-d-title">
                    Name
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player1.name }}
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player2.name }}
                </div>
            </div>
            <div class="vp-pres-detail">
                <div class="vp-pres-d-title">
                    Nationality
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player1.nation }}
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player2.nation }}
                </div>
            </div>
            <div class="vp-pres-detail">
                <div class="vp-pres-d-title">
                    Age
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player1.age }}
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player2.age }}
                </div>
            </div>
            <div class="vp-pres-detail">
                <div class="vp-pres-d-title">
                    Birthday
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player1.birthday }}
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player2.birthday }}
                </div>
            </div>
            <div class="vp-pres-detail">
                <div class="vp-pres-d-title">
                    Weight
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player1.weight }}
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player2.weight }}
                </div>
            </div>
            <div class="vp-pres-detail">
                <div class="vp-pres-d-title">
                    Favory Surface
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player1.favorySurface }}
                </div>
                <div class="vp-pres-d-content">
                    {{ players.player2.favorySurface }}
                </div>
            </div>
        </div>
    </div>
</div>
