<div class="content-part">
    <div class="content-part-title">
        Stats
    </div>
    <div class="content-part-cnt">
        <div class="content-part-cnt-head">
            <md-button ng-click="clickHardCourtsButton()" class="hard-court-button md-primary content-part-cnt-head-button">
                Hard courts
            </md-button>
            <md-button ng-click="clickClayCourtsButton()" class="clay-court-button md-primary content-part-cnt-head-button">
                Clay courts
            </md-button>
            <md-button ng-click="clickGrassCourtsButton()" class="grass-court-button md-primary content-part-cnt-head-button">
                Grass courts
            </md-button>
        </div>
        <div class="vs-stat-content">
            <div class="vs-stat-detail">
                <div class="vs-stat-part-text">
                    {{ stats.name.player1 }}
                </div>
                <div class="vs-stat-part-text-title">
                </div>
                <div class="vs-stat-part-text">
                    {{ stats.name.player2 }}
                </div>
            </div>
            <div class="vs-stat-detail">
                <div id="player1-vs-win" class="vs-stat-part-content">
                </div>
                <div class="vs-stat-part-title">
                    Match win
                </div>
                <div id="player2-vs-win" class="vs-stat-part-content">
                </div>
            </div>
            <div class="vs-stat-detail">
                <div id="player1-vs-quart" class="vs-stat-part-content">
                </div>
                <div class="vs-stat-part-title">
                    Quart win
                </div>
                <div id="player2-vs-quart" class="vs-stat-part-content">
                </div>
            </div>
            <div class="vs-stat-detail">
                <div id="player1-vs-demi" class="vs-stat-part-content">
                </div>
                <div class="vs-stat-part-title">
                    Demi win
                </div>
                <div id="player2-vs-demi" class="vs-stat-part-content">
                </div>
            </div>
            <div class="vs-stat-detail">
                <div id="player1-vs-final" class="vs-stat-part-content">
                </div>
                <div class="vs-stat-part-title">
                    Final win
                </div>
                <div id="player2-vs-final" class="vs-stat-part-content">
                </div>
            </div>
        </div>
        <linear-progress-directive linear-title="Win the first set" tab-linear="{{ linearStat }}">
        </linear-progress-directive>
    </div>
</div>
