footer {
  margin: 50px 0;
}

.text-center() {
  text-align: center;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.no-text-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/**
========================================================
                Loadding part
========================================================
**/

.loadingPart {
    margin-top: 50px;
    margin-bottom: 50px;
}

.loadingPart-description {
    text-align: center;
    color: rgb(140, 140, 140);
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 18px;
}

/**
========================================================
                No found part
========================================================
**/

.noContentFound {
    text-align: center;
    color: rgb(140, 140, 140);
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/**
========================================================
                Commune class
========================================================
**/

.no-content-part {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    color: rgb(140, 140, 140);
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 16px;
}

/**
========================================================
                History part
========================================================
**/

.history-tournament-name {
    color: rgb(120, 120, 120);
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 0px;
    text-align: left;
}

.history-tournament-match {
    border: 1px solid rgb(180, 180, 180);
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.history-tournament-match-separator {
    background-color: rgb(180, 180, 180);
    margin-right: 20px;
    margin-left: 20px;
    height: 1px;
}

.history-tournament-date {
    text-align: right;
    color: rgb(170, 170, 170);
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 15px;
    margin-right: 50px;
}

.historyBottomSeparator {
    height: 50px;
    width: 100px;
}

/**
========================================================
                History Line part
========================================================
**/

.historyLine {
    color: rgb(120, 120, 120);
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 25px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.historyLine-block {
    height: 50px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
}

.historyLine-name {
    text-align: left;
    width: 330px;
}

.historyLine-point {
    text-align: right;
    width: 20px;
}

/**
========================================================
                VS Players Presentation part
========================================================
**/

/*#player-pres-img-part-right {
    width: 600px;
    text-align: right;
}

#player-pres-name-right {
    margin-top: 15px;
    font-size: 24px;
    text-align: right;
}

#player-pres-img-part-left {
    width: 600px;
    text-align: left;
}

#player-pres-name-left {
    margin-top: 15px;
    font-size: 24px;
    text-align: left;
}*/

.vs-pres-top {
    width: 600px;
}

.vs-pres-top-img {
    width: 600px;
    height: 125px;
}

.vs-pres-top-img-right {
    width: 200px;
    height: 250px;
    display: inline-block;
    margin-right: 20px;
}

.vs-pres-top-img-sep {
    width: 150px;
    display: inline-block;
}

.vs-pres-top-img-left {
    width: 200px;
    height: 250px;
    display: inline-block;
    margin-left: 20px;
}

.vs-pres-top-name {
    width: 600px;
}

.vs-pres-top-name-str {
    font-size: 24px;
    text-align: center;
    font-family: "Helvetic Neue", Helvetica, Arial;
    color: rgb(140, 140, 140);
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vs-pres-top-name-middle {
    text-align: center;
    font-family: "Helvetic Neue", Helvetica, Arial;
    color: rgb(140, 140, 140);
    font-size: 20px;
}

/**
========================================================
                Player Presentation part
========================================================
**/

.separator-top-pres {
    height: 150px;
}

.player-pres-img {
    object-fit: cover;
    overflow: hidden;
    width: 200px;
    height: 250px;
    margin-top: -150px;
}

#player-pres-img-part {
    width: 600px;
    text-align: center;
}

#player-pres-name {
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
}

.text-part {
    font-family: "Helvetic Neue", Helvetica, Arial;
    color: rgb(140, 140, 140);
}

#player-pres-details {
    margin-top: 15px;
    margin-bottom: 30px;
}

.player-pres-detail-part {
    margin: auto;
    width: 300px;
}

.player-pres-details-content {
    font-size: 20px;
    text-align: left;
    display: inline;
    margin-left: 20px;
    width: 150px;
}

.player-pres-details-title {
    text-align: left;
    color: rgb(180, 180, 180);
    font-family: "Helvetic Neue", Helvetica, Arial;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 150px;
}

/**
========================================================
                Commune Content part
========================================================
**/

.content-part {
     width: 600px;
     margin-top: 30px;
}

.content-part-title {
    text-align: right;
    font-size: 20px;
    font-family: "Helvetic Neue", Helvetica, Arial;
    color: rgb(180, 180, 180);
}

.content-part-title-center {
    text-align: center;
    font-size: 20px;
    font-family: "Helvetic Neue", Helvetica, Arial;
    color: rgb(180, 180, 180);
}

.content-part-cnt {
    border: 1px solid rgb(215, 215, 215);
}

.content-part-cnt-head {
    width: 600px;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.content-part-cnt-head-button {
    height: 50px;
    margin: 1px;
    width: 195px;
}

/**
========================================================
                Button Stats Content part
========================================================
**/

.md-button.md-primary {
    color: rgb(180, 180, 180);
}

#hard-court-button.md-primary:hover {
    color: rgb(75, 165, 240);
}

#clay-court-button.md-primary:hover {
    color: rgb(215, 126, 89);
}

#grass-court-button.md-primary:hover {
    color: rgb(135, 165, 95);
}

/**
========================================================
**/

.background {
    /*color of background of arc*/
    fill: rgb(255, 255, 255);
}

.component {
    /*color of background of no select arc*/
    fill: rgb(225, 225, 225);
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.label-text {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}

.leftProgressLine {
    fill: rgb(229, 120, 80);
}

.progress-text {
    font-family: "Helvetic Neue", Helvetica, Arial;
    fill: rgb(255, 255, 255);
}

.radial-content {
    margin: auto;
    margin-top: 30px;
    width: 180px;
}

.radial-content-mini {
    width: 120px;
    height: 180px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display:inline-block;
    text-align: center;
}

.radial-mini-block {
    text-align: center;
}

.linear-part {
    margin-top: 20px;
    margin-bottom: 50px;
}

.linear-title {
    text-align: left;
    font-size: 16px;
    font-family: "Helvetic Neue", Helvetica, Arial;
    color: rgb(140, 140, 140);
    margin-bottom: 10px;
    margin-left: 50px;
}

.linear-cnt {
    background-color: rgb(225, 225, 225);
    height: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

/**
========================================================
**/

.player-predict-cnt-date {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-family: "Helvetic Neue", Helvetica, Arial;
    color: rgb(160, 160, 160);
}

.player-predict-cnt-top {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.player-predict-cnt-top-name {
    width: 130px;
    font-size: 20px;
    font-family: "Helvetic Neue", Helvetica, Arial;
    display: inline-block;
}

.player-predict-cnt-top-name-left {
    text-align: left;
    color: rgb(75, 165, 240);
}

.player-predict-cnt-top-name-right {
    text-align: right;
    color: rgb(66, 80, 175);
}

.player-predict-cnt-top-radial {
    height: 150px;
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

/**
========================================================
**/

@color-primary-dark: #303f9f;
@color-primary: #3f51b5;

@color-light-primary-dark: #c5cae9;
@color-light-primary: #ffffff;

@color-accent: #03a9f4;

@color-primary-text: #212121;
@color-secondary-text: #727272;

@color-divider: #b6b6b6;

@logo-width: 300px;

.div-header {
  background-color: @color-primary;
  text-align: center;
  padding-bottom: 20px;
}

.img-logo {
  width: @logo-width;
}

.input-search {
  //background-color: #ffffff !important;
  border: none;
  margin: 20px auto;
  max-width: 600px;
  //width: @logo-width;
}
