<div id="player" ng-show="showPlayerPart">
    <div class="content-part" id="player-stat" ng-show="showPlayerStatPart">
        <div class="content-part-title" id="player-stat-title">
            Statistics
        </div>
        <div class="content-part-cnt" id="player-stat-content">
            <div class="content-part-cnt-head" id="player-stat-content-head">
                <md-button id="hard-court-button" ng-click="clickHardCourtsButton()" class="md-primary content-part-cnt-head-button">
                    Hard courts
                </md-button>
                <md-button id="clay-court-button" ng-click="clickClayCourtsButton()" class="md-primary content-part-cnt-head-button">
                    Clay courts
                </md-button>
                <md-button id="grass-court-button" ng-click="clickGrassCourtsButton()" class="md-primary content-part-cnt-head-button">
                    Grass courts
                </md-button>
            </div>
            <div id="player-stat-content-body">
                <div id="player-stat-content-body-radial">
                    <div class="radial-content" id="player-stat-content-body-radial-main"></div>
                    <div class="radial-mini-block" id="player-stat-content-body-radial-litle">
                        <div class="radial-content-mini" id="player-stat-content-body-radial-little-quart"></div>
                        <div class="radial-content-mini" id="player-stat-content-body-radial-little-demi"></div>
                        <div class="radial-content-mini" id="player-stat-content-body-radial-little-final"></div>
                    </div>
                </div>
                <div class="linear-part" id="player-stat-content-body-linear">
                    <div class="linear-title" id="player-stat-content-body-linear-title">
                        Win the first set
                    </div>
                    <div class="linear-cnt" id="player-stat-content-body-linear-cnt"></div>
                </div>
            </div>
        </div>
    </div>
</div>
