<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <h1 class="text-center">Login</h1>

            <form ng-submit="login()" lu-busy="loginForm">
                <label for="login">Username</label><br />
                <input id="login" ng-model="username" class="form-control" required/>

                <label for="password">Password</label><br />
                <input id="password" ng-model="password" type="password" class="form-control" required/>

                <br />
                <div class="col-sm-12 center-block">
                    <button type="submit" class="btn btn-primary center-block">Login</button>
                </div>

                <br />
                <div>
                    <span class="error" ng-show="errorString != null">{{ errorString }}</span>
                </div>
            </form>
        </div>
    </div>
</div>
